

</body>

<footer>
 <div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/ayush-gupta-253092227/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/Ayush98900034">Twitter</a>
  <a class="footer-link" href="https://github.com/ayushgupta4002">Github</a>
  <p>© Ayush Gupta.</p>
</div>
</footer>

</html>
